backcall==0.2.0
certifi==2020.12.5
chardet==4.0.0
decorator==5.0.7
ffmpeg-python==0.2.0
filelock==3.0.12
future==0.18.2
idna==2.10
ipython==7.22.0
ipython-genutils==0.2.0
iso8601==0.1.14
jedi==0.18.0
m3u8==0.8.0
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.18
ptyprocess==0.7.0
Pygments==2.8.1
pytube==10.7.2
requests==2.25.1
requests-file==1.5.1
six==1.15.0
tldextract==3.1.0
traitlets==5.0.5
urllib3==1.26.4
wcwidth==0.2.5
